<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container2">
        <h1>Update Student</h1>
        <form action="{% url 'uprec' mem.id %}" method="post">
            {% csrf_token %}
            <label for="">Name</label><br><br>
            <input type="text" name="name" value="{{mem.name}}"><br><br>
            <label for="">Subject Names</label><br><br>
            <input type="text" name="subject" value="{{mem.subject}}"><br><br>
            <label for="">Marks</label><br><br>
            <input type="text" name="marks" value="{{mem.marks}}"><br><br>
            <button type="submit" id="new1">Update</button>
        </form>

    </div>
</body>

</html>